In [ ]:
import pandas as pd
import numpy as np

### Preparing the data for SQL

In [ ]:
list_schools = pd.read_csv('../data/CleanData/list_schools.csv')
list_schools

,unit_SIIIR,unit_name,locality,county
0,2131100576,CASA CORPULUI DIDACTIC,SLOBOZIA,IALOMIŢA
1,1131100081,CASA CORPULUI DIDACTIC,REŞIŢA,CARAŞ-SEVERIN
2,2531100059,CASA CORPULUI DIDACTIC,DROBETA-TURNU SEVERIN,MEHEDINŢI
3,631100135,CASA CORPULUI DIDACTIC A JUDEȚULUI BISTRIȚA-NĂ...,BISTRIŢA,BISTRIŢA-NĂSĂUD
4,1031103642,CASA CORPULUI DIDACTIC A JUDEȚULUI BUZĂU,BUZĂU,BUZĂU
...,...,...,...,...
18017,1391105891,UNIVERSITATEA ”OVIDIUS” CONSTANȚA,CONSTANŢA,CONSTANŢA
18018,4091209239,Universitatea Spiru Haret,BUCUREŞTI SECTORUL 3,MUNICIPIUL BUCUREŞTI
18019,1691206307,"UNIVERSITATEA ""SPIRU HARET"" CRAIOVA",CRAIOVA,DOLJ
18020,4091109684,UNIVERSITATEA TEHNICĂ DE CONSTRUCȚII BUCUREȘTI,BUCUREŞTI SECTORUL 2,MUNICIPIUL BUCUREŞTI
18021,491108877,"UNIVERSITATEA „VASILE ALECSANDRI"" DIN BACĂU",BACĂU,BACĂU

In [38]:
#creating a column 'location_ID' based on 'locality' and 'county'
list_schools["location_ID"] = (
    list_schools.groupby(["locality", "county"])
          .ngroup()
)
list_schools

,unit_SIIIR,unit_name,locality,county,location_ID
0,2131100576,CASA CORPULUI DIDACTIC,SLOBOZIA,IALOMIŢA,5598
1,1131100081,CASA CORPULUI DIDACTIC,REŞIŢA,CARAŞ-SEVERIN,5137
2,2531100059,CASA CORPULUI DIDACTIC,DROBETA-TURNU SEVERIN,MEHEDINŢI,2222
3,631100135,CASA CORPULUI DIDACTIC A JUDEȚULUI BISTRIȚA-NĂ...,BISTRIŢA,BISTRIŢA-NĂSĂUD,445
4,1031103642,CASA CORPULUI DIDACTIC A JUDEȚULUI BUZĂU,BUZĂU,BUZĂU,890
...,...,...,...,...,...
18017,1391105891,UNIVERSITATEA ”OVIDIUS” CONSTANȚA,CONSTANŢA,CONSTANŢA,1500
18018,4091209239,Universitatea Spiru Haret,BUCUREŞTI SECTORUL 3,MUNICIPIUL BUCUREŞTI,767
18019,1691206307,"UNIVERSITATEA ""SPIRU HARET"" CRAIOVA",CRAIOVA,DOLJ,1689
18020,4091109684,UNIVERSITATEA TEHNICĂ DE CONSTRUCȚII BUCUREȘTI,BUCUREŞTI SECTORUL 2,MUNICIPIUL BUCUREŞTI,766
18021,491108877,"UNIVERSITATEA „VASILE ALECSANDRI"" DIN BACĂU",BACĂU,BACĂU,236

In [39]:
#creating a list_regions with the columns 'locality', 'county' and 'location_ID'
list_regions = (
    list_schools
    [["locality", "county", "location_ID"]]
    .drop_duplicates()
    .reset_index(drop=True)
)
list_regions

                   locality           county  location_ID
0                  SLOBOZIA         IALOMIŢA         5598
1                    REŞIŢA    CARAŞ-SEVERIN         5137
2     DROBETA-TURNU SEVERIN        MEHEDINŢI         2222
3                  BISTRIŢA  BISTRIŢA-NĂSĂUD          445
4                     BUZĂU            BUZĂU          890
...                     ...              ...          ...
7165               BISTRIŢA           VÂLCEA          448
7166    STOLNICENI-PRĂJESCU             IAŞI         5714
7167               TĂTĂRUŞI             IAŞI         6302
7168                  SALVA  BISTRIŢA-NĂSĂUD         5375
7169               MAHMUDIA           TULCEA         3667

[7170 rows x 3 columns]

In [40]:
#from the list_schools keep only the location_ID
list_schools_upd = list_schools.drop(columns=["locality", "county", "unit_name"])
list_schools_upd

       unit_SIIIR  location_ID
0      2131100576         5598
1      1131100081         5137
2      2531100059         2222
3       631100135          445
4      1031103642          890
...           ...          ...
18017  1391105891         1500
18018  4091209239          767
18019  1691206307         1689
18020  4091109684          766
18021   491108877          236

[18022 rows x 2 columns]

### Data concatenation

In [ ]:
files = ['../data/CleanData/data_2018.csv',
         '../data/CleanData/data_2019.csv',
         '../data/CleanData/data_2020.csv',
         '../data/CleanData/data_2021.csv',
         '../data/CleanData/data_2022.csv',
         '../data/CleanData/data_2023.csv',
         '../data/CleanData/data_2024.csv',
         '../data/CleanData/data_2025.csv']

In [42]:
#concatenate all the years 
data_bac = pd.concat((pd.read_csv(f) for f in files), ignore_index = True)

C:\Users\Alexandra\AppData\Local\Temp\ipykernel_11924\3697775245.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data_bac = pd.concat((pd.read_csv(f) for f in files), ignore_index = True)

In [43]:
#shaping the data
data_bac.shape

(1264056, 34)

In [44]:
#renaming the content of the column 'gender'
data_bac['gender'].unique()

array(['F', 'M', 'masculin', 'feminin'], dtype=object)

In [45]:
data_bac['gender'] = data_bac['gender'].replace({'masculin': 'M', 'feminin': 'F'})

In [46]:
#checking the data type
data_bac.dtypes

candidate_unique_code     object
gender                    object
specialization            object
profile                   object
field_of_study            object
form_of_education         object
candidate_environment     object
unit_SIIIR                 int64
class_year                object
subject_ea                object
modern_language           object
subject_ec                object
subject_ed                object
graduation_year           object
status_a                  object
status_b                  object
status_c                  object
status_d                  object
status_ea                 object
status_ec                 object
status_ed                 object
ita                       object
written_itc               object
written_pms               object
oral_pmo                  object
oral_io                   object
digital_score            float64
status                    object
average                  float64
year                       int64
session                    int64
final_score_ea           float64
final_score_ec           float64
final_score_ed           float64
dtype: object

In [47]:
# Keep only rows where 'school_id' exists in data_bac
list_schools_upd = list_schools_upd[
    list_schools_upd['unit_SIIIR'].isin(data_bac['unit_SIIIR'])
]

In [48]:
#dropping the duplicates
list_schools_upd = list_schools_upd.drop_duplicates()

In [49]:
list_schools_upd

       unit_SIIIR  location_ID
45     3361203686         1871
195    1361101284         1500
209    3961100812         2471
228    1861100027         6238
503    3261101213         5531
...           ...          ...
17947  2461101122         6691
17948  2461101746         5198
17951  3161104335         5821
17982  3661100495         3667
18004  1261203444         1412

[1381 rows x 2 columns]

### Exporting the data into csv

In [ ]:
data_bac.to_csv("../data/CleanData/data_bac.csv", index=False)
list_schools_upd.to_csv("../data/CleanData/list_schools_upd.csv", index=False)
list_regions.to_csv("../data/CleanData/list_regions.csv", index=False)